/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.title {
    font-size: 32px;
    border-bottom: 2px solid #32cd32;
    padding: 15px;
    color: #32cd32
}

.master {
    padding: 25px;
    border: none;
    box-sizing: border-box;
    height: 100vh; 
}

/*.hidden-md {
    display: inline;
}*/

/*.hidden-md-down {
    display: none
}*/

.text-center {
    text-align: center;
}

.master-item {
    font-size: 24px;
    border-bottom: 2px solid #32cd32;
    padding: 15px;
    background: white;
    color: #32cd32;
}
.master-item:hover,
.active-item {
    background: #32cd32;
    color: white;
    cursor: pointer;
}

.detail {
    float: right;
    padding: 25px;
    box-sizing: border-box;
    position: static;
    color: #4cd4b0;
    height: 100vh;
    background-color: white;
}

.container {
    position: relative;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

/*@media only screen and (min-width: 786px) {*/
    /*.col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }*/

    .col-3 {
        width: 25%;
    }

    /*.col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }*/

    .col-9 {
        width: 70%;
    }

    /*.col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
    .hidden-md {
        display: none;
    }

    .detail {
        position: static;
    }

    .master {
        border-right: 3px solid #32cd32;
    }*/
/*}*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  
}

.container {
    position: relative;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}
/*dette er en test */
.navbar>.container {
    display: unset;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*----SubNav menu ----*/

.navbar {
    overflow: hidden;
    background-color: #1861ac; 
}

 /*Navigation links*/ 
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: normal;

}

 /*The subnavigation menu*/ 
.subnav {
    float: left;
    overflow: hidden;
}

 /*Subnav button*/ 
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

 /*Add a red background color to navigation links on hover*/ 
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #eee;
}

 /*Style the subnav content - positioned absolute*/ 
.subnav-content {
    display: none;
    position: relative;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

 /*Style the subnav links*/ 
.subnav-content a {
    float: left;
    color: #808080;
    text-decoration: none;
}

 /*Add a grey background color on hover*/ 
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

 /*When you move the mouse over the subnav container, open the subnav content*/
.subnav:hover .subnav-content {
    display: block;
}