
@{
    ViewData["Title"] = "Sag";
}

    <header>
        <h1>Sag: Hjælp til NGK</h1>
        
    </header>
    <main>
        <div class="float-right">
            <p>Mangler hjælp til NGK<br /> Har lidt svært ved............</p>
        </div>
        <figure class="CaseImages">
            <img src="~/Images/greg.jpg" alt="Winding road" width="333" align="left" />
        </figure>
    </main>
    <div class="buttomNav">
        <button href="#Delete" style="min-width:33.3%">Slet sag</button>
    </div>


